{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "sonarjs"
    ],
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:sonarjs/recommended"
    ],
    "rules": {
        "no-console": "error",
        "no-inline-comments": "error",
        "lines-around-comment": "error",
        "no-warning-comments": "error",
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": false
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "all",
                "singleQuote": true,
                "printWidth": 100,
                "semi": true,
                "tabWidth": 2,
                "endOfLine": "auto"
            }
        ],
    }
}
